-c constraints.txt
{%- if cookiecutter.addon == "on" %}
-e .[test]
{%- else %}
Plone
{%- endif %}

# WSGI
Zope[wsgi]

{%- if cookiecutter.addon == "on" %}
# DEV: Style/tests
zope.testrunner
black
isort
zpretty
{%- endif %}
